In [1]:
import pandas as pd

In [2]:
city_data = pd.read_csv("../City_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv")
city_data.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,1/31/2000,2/29/2000,...,7/31/2021,8/31/2021,9/30/2021,10/31/2021,11/30/2021,12/31/2021,1/31/2022,2/28/2022,3/31/2022,4/30/2022
0,6181,0,New York,City,NY,NY,New York-Newark-Jersey City,Queens County,252885.0,254706.0,...,716872.0,721839.0,727737.0,732735.0,736427.0,739231.0,743318.0,748195.0,754331.0,759901.0
1,12447,1,Los Angeles,City,CA,CA,Los Angeles-Long Beach-Anaheim,Los Angeles County,237820.0,238043.0,...,901800.0,915560.0,925407.0,928293.0,932714.0,938376.0,943426.0,952509.0,968695.0,988288.0
2,39051,2,Houston,City,TX,TX,Houston-The Woodlands-Sugar Land,Harris County,109356.0,109367.0,...,228205.0,233571.0,237682.0,241225.0,243648.0,246432.0,249375.0,252745.0,257112.0,261791.0
3,17426,3,Chicago,City,IL,IL,Chicago-Naperville-Elgin,Cook County,169115.0,169519.0,...,295982.0,299067.0,301141.0,303191.0,305794.0,308245.0,310569.0,311893.0,313825.0,315196.0
4,6915,4,San Antonio,City,TX,TX,San Antonio-New Braunfels,Bexar County,116095.0,116277.0,...,250323.0,256037.0,259865.0,263992.0,267665.0,272375.0,277137.0,281619.0,287346.0,293022.0

In [8]:
city_data.shape

(22423, 276)

In [35]:
city_data.iloc[:,6].value_counts()

New York-Newark-Jersey City        511
Chicago-Naperville-Elgin           353
St. Louis                          247
Washington-Arlington-Alexandria    238
Philadelphia-Camden-Wilmington     232
                                  ...
Gallup                               1
Arcadia                              1
Los Alamos                           1
Okeechobee                           1
Seneca Falls                         1
Name: Metro, Length: 857, dtype: int64

In [38]:
city_data[city_data['Metro']=="Austin-Round Rock"]

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,1/31/2000,2/29/2000,...,7/31/2021,8/31/2021,9/30/2021,10/31/2021,11/30/2021,12/31/2021,1/31/2022,2/28/2022,3/31/2022,4/30/2022
10,10221,10,Austin,City,TX,TX,Austin-Round Rock,Travis County,199734.0,200778.0,...,580599.0,596561.0,602456.0,608583.0,614582.0,628226.0,641559.0,657497.0,671009.0,681389.0
210,26857,215,Round Rock,City,TX,TX,Austin-Round Rock,Williamson County,NaN,177999.0,...,455609.0,471145.0,481422.0,489253.0,498693.0,509006.0,523804.0,535548.0,545665.0,552618.0
485,45417,496,Georgetown,City,TX,TX,Austin-Round Rock,Williamson County,NaN,NaN,...,456865.0,471074.0,480443.0,487295.0,495210.0,503772.0,517627.0,529253.0,539411.0,546405.0
501,47080,512,Pflugerville,City,TX,TX,Austin-Round Rock,Travis County,163516.0,163970.0,...,420139.0,435034.0,441754.0,447977.0,454170.0,466008.0,476339.0,488818.0,500417.0,510328.0
657,40738,676,San Marcos,City,TX,TX,Austin-Round Rock,Hays County,NaN,NaN,...,316970.0,328209.0,336333.0,342954.0,350435.0,357254.0,364997.0,374219.0,380647.0,387116.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20660,44301,26880,Briarcliff,City,TX,TX,Austin-Round Rock,Travis County,218258.0,218835.0,...,540135.0,556758.0,564766.0,573801.0,582675.0,596679.0,608413.0,622425.0,640864.0,658182.0
20920,42864,27361,Point Venture,City,TX,TX,Austin-Round Rock,Travis County,200309.0,201317.0,...,461774.0,477868.0,488580.0,497278.0,506843.0,520093.0,531409.0,545868.0,561688.0,575953.0
21396,56827,28227,Weir,City,TX,TX,Austin-Round Rock,Williamson County,NaN,NaN,...,432821.0,446455.0,456718.0,461995.0,469057.0,477448.0,490958.0,500757.0,507196.0,511519.0
21476,39906,28392,Mountain City,City,TX,TX,Austin-Round Rock,Hays County,NaN,NaN,...,477633.0,497452.0,509993.0,523816.0,542945.0,560928.0,577690.0,596499.0,610696.0,623832.0
22048,233935,29449,Hays,City,TX,TX,Austin-Round Rock,Hays County,NaN,NaN,...,459223.0,482974.0,495374.0,506101.0,511613.0,507835.0,509499.0,515388.0,530500.0,540914.0

In [44]:
dates = city_data.iloc[:,8:].columns.to_list()
dates

['1/31/2000',
 '2/29/2000',
 '3/31/2000',
 '4/30/2000',
 '5/31/2000',
 '6/30/2000',
 '7/31/2000',
 '8/31/2000',
 '9/30/2000',
 '10/31/2000',
 '11/30/2000',
 '12/31/2000',
 '1/31/2001',
 '2/28/2001',
 '3/31/2001',
 '4/30/2001',
 '5/31/2001',
 '6/30/2001',
 '7/31/2001',
 '8/31/2001',
 '9/30/2001',
 '10/31/2001',
 '11/30/2001',
 '12/31/2001',
 '1/31/2002',
 '2/28/2002',
 '3/31/2002',
 '4/30/2002',
 '5/31/2002',
 '6/30/2002',
 '7/31/2002',
 '8/31/2002',
 '9/30/2002',
 '10/31/2002',
 '11/30/2002',
 '12/31/2002',
 '1/31/2003',
 '2/28/2003',
 '3/31/2003',
 '4/30/2003',
 '5/31/2003',
 '6/30/2003',
 '7/31/2003',
 '8/31/2003',
 '9/30/2003',
 '10/31/2003',
 '11/30/2003',
 '12/31/2003',
 '1/31/2004',
 '2/29/2004',
 '3/31/2004',
 '4/30/2004',
 '5/31/2004',
 '6/30/2004',
 '7/31/2004',
 '8/31/2004',
 '9/30/2004',
 '10/31/2004',
 '11/30/2004',
 '12/31/2004',
 '1/31/2005',
 '2/28/2005',
 '3/31/2005',
 '4/30/2005',
 '5/31/2005',
 '6/30/2005',
 '7/31/2005',
 '8/31/2005',
 '9/30/2005',
 '10/31/2005',
 '11/30/2005',
 '12/31/2005',
 '1/31/2006',
 '2/28/2006',
 '3/31/2006',
 '4/30/2006',
 '5/31/2006',
 '6/30/2006',
 '7/31/2006',
 '8/31/2006',
 '9/30/2006',
 '10/31/2006',
 '11/30/2006',
 '12/31/2006',
 '1/31/2007',
 '2/28/2007',
 '3/31/2007',
 '4/30/2007',
 '5/31/2007',
 '6/30/2007',
 '7/31/2007',
 '8/31/2007',
 '9/30/2007',
 '10/31/2007',
 '11/30/2007',
 '12/31/2007',
 '1/31/2008',
 '2/29/2008',
 '3/31/2008',
 '4/30/2008',
 '5/31/2008',
 '6/30/2008',
 '7/31/2008',
 '8/31/2008',
 '9/30/2008',
 '10/31/2008',
 '11/30/2008',
 '12/31/2008',
 '1/31/2009',
 '2/28/2009',
 '3/31/2009',
 '4/30/2009',
 '5/31/2009',
 '6/30/2009',
 '7/31/2009',
 '8/31/2009',
 '9/30/2009',
 '10/31/2009',
 '11/30/2009',
 '12/31/2009',
 '1/31/2010',
 '2/28/2010',
 '3/31/2010',
 '4/30/2010',
 '5/31/2010',
 '6/30/2010',
 '7/31/2010',
 '8/31/2010',
 '9/30/2010',
 '10/31/2010',
 '11/30/2010',
 '12/31/2010',
 '1/31/2011',
 '2/28/2011',
 '3/31/2011',
 '4/30/2011',
 '5/31/2011',
 '6/30/2011',
 '7/31/2011',
 '8/31/2011',
 '9/30/2011',
 '10/31/2011',
 '11/30/2011',
 '12/31/2011',
 '1/31/2012',
 '2/29/2012',
 '3/31/2012',
 '4/30/2012',
 '5/31/2012',
 '6/30/2012',
 '7/31/2012',
 '8/31/2012',
 '9/30/2012',
 '10/31/2012',
 '11/30/2012',
 '12/31/2012',
 '1/31/2013',
 '2/28/2013',
 '3/31/2013',
 '4/30/2013',
 '5/31/2013',
 '6/30/2013',
 '7/31/2013',
 '8/31/2013',
 '9/30/2013',
 '10/31/2013',
 '11/30/2013',
 '12/31/2013',
 '1/31/2014',
 '2/28/2014',
 '3/31/2014',
 '4/30/2014',
 '5/31/2014',
 '6/30/2014',
 '7/31/2014',
 '8/31/2014',
 '9/30/2014',
 '10/31/2014',
 '11/30/2014',
 '12/31/2014',
 '1/31/2015',
 '2/28/2015',
 '3/31/2015',
 '4/30/2015',
 '5/31/2015',
 '6/30/2015',
 '7/31/2015',
 '8/31/2015',
 '9/30/2015',
 '10/31/2015',
 '11/30/2015',
 '12/31/2015',
 '1/31/2016',
 '2/29/2016',
 '3/31/2016',
 '4/30/2016',
 '5/31/2016',
 '6/30/2016',
 '7/31/2016',
 '8/31/2016',
 '9/30/2016',
 '10/31/2016',
 '11/30/2016',
 '12/31/2016',
 '1/31/2017',
 '2/28/2017',
 '3/31/2017',
 '4/30/2017',
 '5/31/2017',
 '6/30/2017',
 '7/31/2017',
 '8/31/2017',
 '9/30/2017',
 '10/31/2017',
 '11/30/2017',
 '12/31/2017',
 '1/31/2018',
 '2/28/2018',
 '3/31/2018',
 '4/30/2018',
 '5/31/2018',
 '6/30/2018',
 '7/31/2018',
 '8/31/2018',
 '9/30/2018',
 '10/31/2018',
 '11/30/2018',
 '12/31/2018',
 '1/31/2019',
 '2/28/2019',
 '3/31/2019',
 '4/30/2019',
 '5/31/2019',
 '6/30/2019',
 '7/31/2019',
 '8/31/2019',
 '9/30/2019',
 '10/31/2019',
 '11/30/2019',
 '12/31/2019',
 '1/31/2020',
 '2/29/2020',
 '3/31/2020',
 '4/30/2020',
 '5/31/2020',
 '6/30/2020',
 '7/31/2020',
 '8/31/2020',
 '9/30/2020',
 '10/31/2020',
 '11/30/2020',
 '12/31/2020',
 '1/31/2021',
 '2/28/2021',
 '3/31/2021',
 '4/30/2021',
 '5/31/2021',
 '6/30/2021',
 '7/31/2021',
 '8/31/2021',
 '9/30/2021',
 '10/31/2021',
 '11/30/2021',
 '12/31/2021',
 '1/31/2022',
 '2/28/2022',
 '3/31/2022',
 '4/30/2022']

In [48]:
price_melt = pd.melt(city_data, id_vars=['RegionID'],value_vars = dates,var_name='Date',value_name='Home_Cost').sort_values(by='RegionID')
price_melt

         RegionID        Date  Home_Cost
2341630      3300   9/30/2008        NaN
5032390      3300   9/30/2018   150668.0
1355018      3300   1/31/2005        NaN
996250       3300   9/30/2003        NaN
2745244      3300   3/31/2010        NaN
...           ...         ...        ...
3481558    760887  12/31/2012   193243.0
2517369    760887   5/31/2009   232544.0
3033098    760887   4/30/2011   209590.0
5679012    760887   2/28/2021   249860.0
925336     760887   6/30/2003   168218.0

[6009364 rows x 3 columns]